@import '@/theme/variables.scss';

.header-container {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: $spacing-2;
  margin-bottom: $spacing-2;
  padding-right: $spacing-2;

  .username {
    text-align: end;
    position: relative;

    span {
      opacity: 0.8;
      font-size: 14px;
    }

    &::before {
      content: attr(data-name);
      position: absolute;
      left: -40px;
      border-radius: 50%;
      background-color: purple;
      color: white;
      width: 30px;
      height: 30px;
      top: -3px;
      display: grid;
      place-items: center;
      text-transform: uppercase;
      font-weight: bold;
    }
  }
}